.env
.venv/
.vscode/
__pycache__/
*.local.*
*.db
entity_forest_cache/*.pkl
*.csv
vec_db_cache/
abstract_forest_cache/*.pkl
extracted_data/
# datasets/unified/  # 取消注释以允许上传
# datasets/raw/      # 取消注释以允许上传
*.log
.DS_Store
*.pyc
*.so
build/
TRAG-cuckoofilter/build/
lab-1806-vec-db-main/target/
